@{
    ViewData["Title"] = "Pojazd2";
}

@model Praktyki2024_mvc.Models.car2

<h1>Specyfikacja</h1>
<p>Id: @Model.Id</p>
<p>Marka: @Model.Marka</p>
<p>Model: @Model.Model</p>
<p>Rocznik: @Model.Rocznik</p>
<p>Typ: @Model.Typ</p>
<p>Kolor: @Model.Kolor</p>
<img src="@Model.Zdjęcie" alt="Obraz drugiego pojazdu" style="max-width: 300px;" />

@{
    int count = 1;
    do
    {
        <p>Samochód @count</p>
        count++;
    } while (count <= 3);
}